<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Modules</title>
     <!-- Included styles -->
    <style>
        {{{styles}}}
    </style>
    <!-- Custom content -->
    {{#include-to-head}}
        {{{opentag}}}
        {{{content}}}
        {{{closetag}}}
    {{/include-to-head}}
    <!-- //Custom content -->
</head>
<body>
    <!-- Custom content -->
    {{#include-to-bodybegin}}
        {{{opentag}}}
        {{{content}}}
        {{{closetag}}}
    {{/include-to-bodybegin}}
    <!-- //Custom content -->
    <div class="wrapper">

        <ul class="demotabs">
            <li class="demotab" data-show="demoitem--templates">Templates</li>
            <li class="demotab" data-show="demoitem--elements">Elements</li>
        </ul>

        <div class="demoitems">
            <div class="demoitem demoitem--templates">
                {{#templates}}
                    <div class="module">
                        <h2 class="module__title">{{name}}</h2>
                        <div class="module__wrapper">
                            <div class="module__item module__content">
                                {{{content}}}
                            </div>
                            <div class="module__item module__components">
                                {{{components}}}
                            </div>
                        </div>
                    </div>
                {{/templates}}
            </div>
            <div class="demoitem demoitem--elements">
                {{#elems}}
                    <div class="module">
                        <h2 class="module__title">{{name}}</h2>
                        <div class="module__wrapper">
                            <div class="module__item module__content">
                                {{{content}}}
                            </div>
                        </div>
                    </div>
                {{/elems}}
            </div>
        </div>


    </div>

    <!-- Included script -->
    <script>{{{script}}}</script>
    <!-- Custom content -->
    {{#include-to-bodyend}}
        {{{opentag}}}
        {{{content}}}
        {{{closetag}}}
    {{/include-to-bodyend}}
    <!-- //Custom content -->
    <script src="//localhost:1337/livereload.js"></script>
</body>
</html>