BODY {
    background: #FFF;
    }

UL {
    margin: 0;
    padding: 0;
    list-style: none;
    }

.wrapper {
    min-width: 350px;
    max-width: 1000px;
    margin: 3em auto;
    padding: 0 2em;
    }
/* DEMOTABS
------------------------------- */
.demotabs {
    position: relative;
    margin-bottom: 2em;
    padding: 0;
    }
    .demotabs:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid #DDD;
        }
    .demotab {
        display: inline-block;
        position: relative;
        z-index: 1;
        padding: .5em 1em;
        border: 1px solid transparent;
        border-width: 1px 1px 0;
        font: 1.2em/1 Trebuchet MS, sans-serif;
        color: #777;
        cursor: pointer;
        }
        .demotab--current {
            background: #FFF;
            border-color: #DDD;
            color: #000;
            cursor: default;
            }
/* DEMOITEMS
------------------------------- */
.demoitem {
    display: none;
    }
.demoitem--current {
    display: block;
    }
/* MODULES
------------------------------- */
.module {
    margin-bottom: 2em;
    }
.module__title {
    display: inline-block;
    position: relative;
    height: 1.42em;
    margin: 0 0 1em;
    overflow: hidden;
    font: 1.3em/1.42 Trebuchet MS, sans-serif;
    color: #FFF;
    }
    .module__title-inner {
        display: inline-block;
        height: 1.42em;
        padding: 0 .5em ;
        background: steelblue;
        }
        .demoitem--elements .module__title-inner {
            background: yellowgreen;
            }
    .module__title:after {
        content: "";
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: .73em solid transparent;
        border-right-width: 0;
        border-left-color: steelblue;
        vertical-align: top;
        }
        .demoitem--elements .module__title:after {
            border-left-color: yellowgreen;
            }

.module__wrapper {}

    .module__wrapper:after {
        content: "";
        display: table;
        width: 100%;
        clear: both;
        }

.module__item {
    box-sizing: border-box;
    }
    .demoitem--elements .module__item {
        border: 1px solid #DDD;
        padding: 1em;
        }
    .demoitem--elements .module__content:after {
        content: "";
        display: table;
        width: 100%;
        clear: both;
        }

     .demoitem--templates .module__content {
        float: left;
        width: 100%;
        }
        .demoitem--templates .module__content-inner {
            margin-right: 180px;
            padding-right: 2em;
            border-right: 2px solid #DDD;
            }
    .demoitem--templates .module__components {
        float: right;
        width: 160px;
        margin-left: -160px;
        }

